# Dependencies
/client/node_modules
/server/node_modules

# Next.js
/client/.next
/client/out

# PNPM Lockfile
/client/pnpm-lock.yaml
/server/pnpm-lock.yaml

# Logs
/server/logs/
*.log

# Environment variables
/server/.env
.env.local

# IDE specific
.vscode/

# TypeScript
*.tsbuildinfo

# Build output
server/build
server/dist

tasks.md